<form method="post" action="{{ path('app_clientproduct_delete', {'id': clientproduct.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clientproduct.id) }}">
    <button class="btn btn-danger m-3 ">Delete</button>
</form>
